@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

body {
  padding: 1rem;
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact,
.command,
.skill,
.project {
  display: flex;
  justify-content: space-between;
}

.contact__platform,
.command__name {
  font-size: 16px;
}

.terminal::-webkit-scrollbar {
  width: 0 !important;
}

.terminal {
  overflow: -moz-scrollbars-none;
}

.terminal {
  -ms-overflow-style: none;
}

.help-command {
  @apply font-bold text-orange;
}

.external-link {
  @apply text-yellow font-semibold;
}

.external-link:hover {
  @apply underline;
}

.skill-group {
  @apply text-yellow font-semibold;
}

.project__name{
  @apply text-green font-semibold;
}